// Variable overrides
$white: #fff;
$black:#000;
$transparent: transparent;
$gray: #6c757d;
$gray-light: #6c757d10;
$gray-light-opaque: #f6f6f7;
$gray-hover: #6c757d20;
$gray-mid: #6c757d99;
$gray-dark: #343a40;
$gray-opaque: #f1f1f1;
$primary: rgb(0 ,125, 185);
$secondary: #6c757d;
$success: #1bc5bd;
$info: #3699ff;
$warning: #ffa800;
$danger: #f64e60;
$light: #f8f9fa;
$dark: #343a40;
$theme-color: rgb(0 ,125, 185);
$theme-hover-color:rgb(0 ,125, 185);
