// Variable overrides
$white: #fff;
$black:#000;
$transparent: transparent;

$gray: #6c757d;
$gray-light: #ecedf2;
$gray-text:#c1c4cf;
$gray-light-opaque: #f6f6f7;
$gray-footer: #e8eaeb;
$gray-hover: #6c757d20;
$gray-mid: #d7d9de;
$gray-mid-light: #dddddd;
$gray-dark: #343a40;
$gray-opaque: #f1f1f1;
$primary: rgb(0 ,125, 185);
$secondary: #6c757d;
$success: #1bc5bd;
$info: #3699ff;
$warning: #ffa800;
$danger: #f64e60;
$light: #f8f9fa;
$dark: #343a40;
$light-black:#333;
$light-black-opaque:#2c2c2c;
$light-bg:#f7f7f7;
$theme-color: rgb(0 ,125, 185);
$theme-dark-color:#0074a7;
$border-color:#ede8e8;
$light-blue:#eaf6fb;
$dark-gray:#868686;
$green:#11b94d;
$red:#fe0000;
