.pickup-table{
  border-collapse: separate;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  th, td {
    padding: 3px 3px;
    border: 0px;
    font-size:12px;
    text-align:center;
    vertical-align: middle;
   }
  thead{
    th{
      border:0px;
    }
    
  }
  .variance-col{
    background: #0f233e;
    color:#fff;
    text-align:center;
    font-weight: 600;
  }
  .head-col{
    background: #0f233e;
    text-align:center;
    color:#fff;
    font-weight: 500;
    padding:5px 5px;
  }
  .title-col{
    background: #0f233e;
    color:#fff;
    text-align:left;
    font-weight: 600;
  }
  
  .content-col{
    background: #f7f7f7;
    color:#000;
    text-align:center;
    font-weight: 500;
    &.bg-2{
      background: #f2f2f2;
    }
  }
}



