.pickup-table{
  border-collapse: separate;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  th, td {
    padding: 2px 3px;
    border: 0px;
    font-size:12px;
    text-align:center;
    vertical-align: middle;
   }
  thead{
    th{
      border:0px;
    }
    
  }
  .variance-col{
    background: #6ea0b7;
    color:#fff;
    text-align:center;
    font-weight: 600;
  }
  .head-col{
    background: #0082b3;
    text-align:center;
    color:#fff;
    font-weight: 500;
    //padding:8px 5px;
  }
  .title-col{
    background: #6ea0b7;
    color:#fff;
    text-align:left;
    font-weight: 600;
    // &.bg-1{
    //   background:#203763;
    // }
  }
  
  .content-col{
    background: #e1eef4;
    color:#000;
    text-align:center;
    font-weight: 500;
    &.bg-2{
      background: #f7f6f2;
    }
  }

}
.template{
  height: 100%;
  width: 100%;
}


