
@import "../../../scss/variables";
.dashboard-yearly-table{
  // height:calc(100% - 0px);
  height:auto;
  overflow-y: auto;
  overflow-x: hidden;
}
.yearly-table{
  border-collapse: separate;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  th, td {
    padding: 5px 5px;
    border: 1px solid #e0e0e0;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    max-width: 300px;
    @media only screen and (max-width: 1480px) {
      padding: 3px 3px;
      font-size:12px;
    }
    @media only screen and (max-width: 1440px) {
      padding: 3px 3px;
      font-size:12px;
    }
    @media only screen and (max-width: 1370px) {
      padding: 2px 3px;
      font-size:12px;
    }
   }
  thead{
    th{
      border:0px;
    }
    
  }
  .head-col{
    background: $theme-dark-color;
    color: $white;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    border: 1px solid #e0e0e0;
    padding-bottom: 20px;
    position: relative;
    min-width: 150px;
   &.min-wauto{
    min-width: 85px;
   }
    @media only screen and (max-width: 1480px) {
      font-size:12px;
    }
    @media only screen and (max-width: 1440px) {
      font-size:12px;
    }
    @media only screen and (max-width: 1280px) {
      font-size:11px;
    }
  }
  .row-title{
    background: $theme-dark-color;
    color: $white;
    font-weight: 500;
    min-width: 80px;
    font-size: 13px;
    border: 1px solid #e0e0e0;
    white-space: nowrap;
    text-align: left;
    &.sub-bg{
      background:#203763;
    }
    @media only screen and (max-width: 1480px) {
      font-size:12px;
    }
    @media only screen and (max-width: 1440px) {
      font-size:12px;
    }
    @media only screen and (max-width: 1280px) {
      font-size:11px;
    }
  }
  .text-col {
    flex: 1;
    text-align: left;
    padding: 0px 0px 0px 5px;
  }
  .icon-col {
    flex: 0 0 30px;
    max-width: 30px;
  }
  .content-col{
    background:#cdeaf8;
    &.bg-negative{
      color: #e91f34;
      background: #fdc9cb;
    }
  }
  .header-sub-title{
    position: absolute;
    bottom:3px;
    right:5px;
    color:$white;
    span{
      width: 30px;
      display: inline-block;
      text-align: center;
      font-size: 12px;
      @media only screen and (max-width: 1480px) {
        font-size:12px;
      }
      @media only screen and (max-width: 1440px) {
        font-size:12px;
      }
      @media only screen and (max-width: 1280px) {
        font-size:11px;
      }
    }
  }
 
}
.template{
  height: 100%;
  width: 100%;
}
.graph-empty-box{
  width: 250px;
  height: 150px;
  @media only screen and (max-width: 1280px) {
    height: 100px;
  }
}
.custom-bar{
  background-color: #ffffff;
    border-radius: 0px;
    height: 27px;
    @media only screen and (max-width: 1320px) {
      height: 22px;
    }
    .progress-bar{
      color:#000;
      background:linear-gradient(to right, #007db9 0%, #ffffff 100%);
      border: 1px solid #0074a7;
      font-size: 10px;
    }
}
